
/*Got code from http://codepen.io/cbracco/pen/qzukg*/
/*code customized*/


/* Define attribute for help text */
[help-text-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[help-text-tooltip]:before,
[help-text-tooltip]:after {
  visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip below the element */
[help-text-tooltip]:before {
	position: absolute;
	top: 120%; /*this makes the tooltip appear below the element: For a contrary result, replace with "bottom" */
	left: 50%; /*this makes the tooltip appear in the middle of the element*/
	margin-up: 5px;
	margin-left: -80px; /* needs half the value of width*/
	padding: 7px;
	width: 160px; /*the width of the tooltip*/
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(help-text-tooltip);
	text-align: left;
	font-size: 14px;
	line-height: 1.2;
}

/* Show tooltip content on hover */
[help-text-tooltip]:hover:before,
[help-text-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/* Portlet-CSS - Place button, remove backgrounds */
#dockbar-extension [id^="portlet_politaktiveasyparticipation_WAR_politaktiveasyparticipationportlet"] > .portlet-topper{
	visibility: hidden;
	height: 0px;
	width: 0px;
}

#dockbar-extension .portlet-borderless-container, #dockbar-extension section{
	padding: 0px;	
	margin-bottom: 0px; 
	min-height: 0px;
}


.aui #dockbar-extension div .portlet-content{
    border: none;
    padding: 0;
    color: red;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
    border-top: none !important;

}


.aui .navbar .btn[id^="_politaktiveasyparticipation_WAR_politaktiveasyparticipationportlet_INSTANCE_"]{
    margin-top: 0px;
}

#participationButton{
	margin-right: 5px;
	margin-top: 7px;
}

/* Do not show controls for embedded portlet*/
.portlet-borderless-bar{
	display: none;
}






/*----------- Tablet ---------------*/
@media (max-width: 979px){ 
	
	/*allways show container that contains participation button*/
	#_145_navAccountControlsNavbarCollapse {
	    display: inherit;

	}

	/*hide elements that are not the participation button*/
	#_145_adminLinks, #_145_mySites, #_145_userAvatar {
	    display: none !important;

	}

	/*show them, when the dropdown menu appears */
	.open #_145_adminLinks, .open #_145_mySites, .open #_145_userAvatar {
	    display: block !important;
	}

	/* place the button */
	#participationButton{

	    position: fixed;
	    left: 10px;
	    bottom: 30px;

	}

	[help-text-tooltip]:before {
		display: none;
	}

}


/*----------- Phone ---------------*/
@media (max-width: 767px){ 
	.aui .navbar .btn[help-text-tooltip]{
		margin-top: 0px !important;

	}

	#participationButton{

	    position: fixed;
	    left: 5px;
	    bottom: 30px;

	}

	[help-text-tooltip]:before {
		display: none;
	}	

}