/*Got code from http://codepen.io/cbracco/pen/qzukg*/
/*code customized*/
/* Define attribute for help text */
[help-text-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

/* Hide the tooltip content by default */
[help-text-tooltip]:before,
[help-text-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/* Position tooltip below the element */
[help-text-tooltip]:before {
  position: absolute;
  top: 120%;
  /*this makes the tooltip appear below the element: For a contrary result, replace with "bottom" */
  left: 50%;
  /*this makes the tooltip appear in the middle of the element*/
  margin-up: 5px;
  margin-left: -80px;
  /* needs half the value of width*/
  padding: 7px;
  width: 160px;
  /*the width of the tooltip*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(help-text-tooltip);
  text-align: left;
  font-size: 14px;
  line-height: 1.2; }

/* Show tooltip content on hover */
[help-text-tooltip]:hover:before,
[help-text-tooltip]:hover:after {
  visibility: visible;
  opacity: 1; }

/* Portlet-CSS */
#portlet_politaktiveasyparticipation_WAR_politaktiveasyparticipationportlet > .portlet-topper {
  visibility: hidden;
  height: 0px;
  width: 0px; }

.aui .portlet-content, .portlet-content {
  padding: 0px !important;
  border-color: #FFF !important; }

.aui .portlet {
  margin-bottom: 0px !important; }

.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
  border-top: 0px !important; }

.aui .navbar .btn {
  margin-top: 6px !important;
  margin-right: 5px !important;
  margin-left: 5px !important; }

